# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.venv/
venv/
ENV/

# VSCode
.vscode/

# Output folders
output/*
!output/csv/
!output/xlsx/
!output/checked/

# Excel/CSV backup or temp
*.bak
*.tmp

# OS
.DS_Store
Thumbs.db
