# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.venv/
venv/
ENV/

# VSCode
.vscode/

# Output folders
output/*
output/csv/*
output/xlsx/*
output/checked/*
!output/csv/.gitkeep
!output/xlsx/.gitkeep
!output/checked/.gitkeep

# Excel/CSV backup or temp
*.bak
*.tmp

# OS
.DS_Store
Thumbs.db
